{% extends "./base.html" %}
{% load static %}
{% block body %}
<div class="container-xl" style="background-image: url(../../static/background.jpg);">
    <marquee behavior="scroll" direction="right">		    
    <h1 class="app-page-title" style="text-align: center">MSUAS EXAMINATION SCHEDULING PORTAL</h1>
    </marquee>	
    <hr class="mb-4">
    <div class="row g-4 settings-section">
        <div class="col-12 col-md-4">
            {% if program %}
            <h3 class="section-title">{{program.programme_name}}</h3>
            <div class="section-intro">
                <h6>Level: {{modules_level}}</h6>
                <hr>
                <h5>Modules</h5>
                <hr>
                {% for module in modules %}
                {% if module.borrowed %}
                <p style="color:red ;" aria-disabled="true">{{module.title}}</p>
                {% else %}
                <p>{{module.title}}</p>
                {% endif %}
                <!-- <hr> -->
                {% empty %}
                <p>This program has no modules for the seleceted level.</p>
                {% endfor %}
                <hr>
                {% if modules %}
                <a href="{% url 'scheduling:reschedule' %}" class="btn app-btn-primary" style="width: 100%;" >Reschedule</a>
                {% else %}
                <button type="submit" class="btn app-btn-primary" disabled style="width: 100%;" >Reschedule</button>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="col-12 col-md-5" style="border-radius:6% ; background-color: gray;">
            <div class="app-card app-card-settings shadow-sm p-4" style="border-radius:6% ; background-color: gray;">
                
                <div class="app-card-body" style="border-radius:6% ; background-color: rgb(132, 131, 131);">
                    <form class="settings-form" method="post">{% csrf_token %}
                        <div class="mb-3">
                            {% if form.errors %}
                            <p class="alert alert-warning">Please correct the following errors:
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </p>
                            {% for field in form %}
                            {% if field.errors %}
                            <div class="alert alert-box alert-dismissible shadow-sm alert-danger" role="alert">
                                {{ field.label }}: {{ field.errors|striptags }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}

                            {% if messages %}
                            {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                            {% endif %}
                            {% if message.tags == 'success' %}
                            <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                            {% endif %}
                            {% endfor %}
                          {% endif %}
                        </div>
                        <div class="mb-3"></div>
                        <div class="mb-3">
                            <label for="setting-input-1" class="form-label" style="color:brown ;">Enter Module Code<span class="ms-2" data-container="body" data-bs-toggle="popover" data-trigger="hover" data-placement="top" data-content="This is a Bootstrap popover example. You can use popover to provide extra info."><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
<path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
<circle cx="8" cy="4.5" r="1"/>
</svg></span></label>
                           <input type="text" class="form-control" name="module_code" maxlength="8" required>
                        </div>
                        <div class="mb-3">
                            <label for="setting-input-2" class="form-label" style="color:brown ;">Number of Students</label>
                            <input type="number" class="form-control" name="students" maxlength="3" required>
                        </div>

                        <div class="mb-3">
                            <label for="setting-input-2" class="form-label" style="color:brown ;">Session</label>
                            <select name="session" id="session" required class="form-control">
                                <!-- <option value="--choose program--" selected disabled>--choose level--</option> -->
                                {% for session in sessions %}
                                <option value="{{session.id}}">{{session}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="setting-input-2" class="form-label" style="color:brown ;">Choose Room</label>
                            <select name="room" id="room" required class="form-control">
                                <!-- <option value="--choose program--" selected disabled>--choose level--</option> -->
                                {% for room in rooms %}
                                <option value="{{room.id}}">{{room.room_number}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <button type="submit" class="btn app-btn-primary" style="width: 100%;" >Reschedule</button>
                    </form>
                </div><!--//app-card-body-->
                
            </div><!--//app-card-->



{% endblock body %}